<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>Considerable Blog</h1>
  	<h4>A SIMPLE BLOG FOR YOU AND I</h4>
  		<div class="main">
  		<div class="homelink"><%= link_to "Home", root_path %></div>
  		<div class="newlink"><%= link_to "New Post", new_post_path %></div>
  		
    <%= yield %>
    	
    </div>
  </body>
</html>
